<div class="row g-3">
    <div class="col-md-12 col-sm-12 mb-10">
        <div class="card">
            <div class="card-header">
                <h5>Resultado do procesamento</h5>
                Última mensagem processada: <strong>{{ mensagem.texto }}</strong><br/>
                Quantidade de palavras destintas: <strong>{{ mensagem.quantidadePalavrasDistintas }}</strong>
            </div>

            <div class="card-body">
                <p-table [value]="mensagem.palavras" [paginator]="true" [rows]="5"
                         responsiveLayout="stack" [breakpoint]="'960px'"
                         sortField="empresa" sortMode="single" rowGroupMode="subheader" groupRowsBy="empresa"
                         styleClass="p-datatable-striped p-datatable p-datatable-gridlines">
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="text-center w-40">Palavra</th>
                            <th class="text-center w-15">Ocorrências</th>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="body" let-palavra>
                        <tr>
                            <td class="text-center">{{ palavra["texto"] }}</td>
                            <td class="text-center">{{ palavra["ocorrencia"] }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
